@using ecocraft.Services

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<base href="/" />
		<link href="/app.css?v=@ReleaseVersionService.ReleaseVersions.First().Title" rel="stylesheet">
		<script src="/js/site.js?v=@ReleaseVersionService.ReleaseVersions.First().Title"></script>

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
		<link href="_content/MudBlazor/MudBlazor.min.css?v=@ReleaseVersionService.ReleaseVersions.First().Title" rel="stylesheet" />

		<link href="_content/Z.Blazor.Diagrams/style.min.css?v=@ReleaseVersionService.ReleaseVersions.First().Title" rel="stylesheet" />
		<link href="_content/Z.Blazor.Diagrams/default.styles.min.css?v=@ReleaseVersionService.ReleaseVersions.First().Title" rel="stylesheet" />

		<link rel="icon" type="image/png" href="favicon.ico" />
		<HeadOutlet @rendermode="@InteractiveServer" />

		<meta name="title" content="Eco-Gnome: Price calculator for the ECO game">
		<meta name="description" content="Eco-Gnome is a free price‑calculation tool for ECO players. Optimize your trades and maximize your profits with precise calculations.">
		<meta name="keywords" content="Eco game, Eco price calculator, Eco-Gnome, Eco economy, ECO prices, ECO game, ECO trading, ECO price simulator, Eco price optimizer">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Eco-Gnome">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:type" content="website">
		<meta property="og:url" content="https://eco-gnome.com">
		<meta property="og:title" content="Eco-Gnome: Price calculator for the ECO game">
		<meta property="og:description" content="Discover Eco-Gnome, the perfect tool to calculate and optimize your prices in the ECO game. Improve your trades with balanced prices.">
		<meta property="og:image" content="https://eco-gnome.com/avatar.png">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://eco-gnome.com">
		<meta name="twitter:title" content="Eco-Gnome: Price calculator for the ECO game">
		<meta name="twitter:description" content="Use Eco-Gnome to calculate prices and optimize your economy in the ECO game.">
		<meta name="twitter:image" content="https://eco-gnome.com/avatar.png">
	</head>
	<body>
		<Routes @rendermode="@InteractiveServer" />
		<script src="_framework/blazor.web.js"></script>
		<script src="_content/MudBlazor/MudBlazor.min.js"></script>
		<script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
	</body>
</html>
